.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0,5px;
    box-shadow: 1px 1px 3px rgba(201, 162, 162, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
a{
    text-decoration: none;
    color: rgb(110, 98, 98);
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #10172a;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #10172a;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #ff3060 !important;
    padding: 10px;
}

#sidebar ul li
{
    /* border-top: 1px solid #2da3a3; */
    /* border-bottom: 1px solid #2da3a3; */
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
     background: rgb(20, 29, 56); 
    /* border-top: 3px solid #ff3060 ; */
    font-size: 125%;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #293042;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #17264e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #8f5659;
}

a.article,
a.article:hover {
    background: #56768f !important;
    color: #fff !important;
}

.logoesca{
color: #fff !important;
}
.logolab{
color: #ff3060 !important;
}
.logout{
    color: #fff !important;
    background: #0b8367 !important; 
    /* border-top: 6px solid #ff3060 ; */
    font-size: 100%;
}
.logout:hover{
    background: #03ce9e !important; 
    /* border-top: 6px solid #ff3060 ; */
    font-size: 120%;
}
.no-text-decoration{
    text-decoration: none;
    color: #fff;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}